/*
 * Empty Stylesheet file.
 */



.Applicationlkol{
    -fx-background-color:transparent;
    -fx-background-radius: 3em;
}

.pageApplication{
    -fx-background-color:#FFFFFF; 
    -fx-background-radius: 20px 20px 20px 20px;
}

.text-areaWhiteMode {
    -fx-font-family: Consolas;
    -fx-font-size: 24;
    -fx-text-fill: black;
    -fx-display-caret:true;
}

.text-areaWhiteMode  .content {
    -fx-background-color: #FFFFFF;
}

.text-areaDarkMode {
    -fx-font-family: Consolas;
    -fx-font-size: 24;
    -fx-text-fill: white;
    -fx-display-caret:true;
}

.text-areaDarkMode  .content {
    -fx-background-color:  linear-gradient(to bottom, #485461 0%, #28313b 74%);
}

.green{
       -fx-background-color: linear-gradient(to right top, #11998e 0%, #38ef7d 100%);
}

.frequency-btn-selected {
    -fx-background-color: linear-gradient(to right top, #FBAB7E 0%, #F7CE68 100%);
}

.frequency-btn-selected:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.PaneisCopied {
-fx-background-color: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.jfx-dialog-overlay-paneWhite > StackPane {
    -fx-background-radius: 10;
    -fx-background-color: white;
}

.jfx-dialog-overlay-paneBlack > StackPane {
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(to top, #485461 0%, #28313b 74%);
}